body {
    background-color: #ceac9d;
    color: #202A25;
}

h1 {
    background-color: #c7a881;
    margin: 0;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.orders {
    margin: 2%;
    padding: 2%;
    background-color: #d3ac87;
}

.orders h3 {
    text-align: center;
}

.orders li {
    list-style-type: none;
    border-bottom: 1px solid #202A25;
    margin-right: 30%;
    margin-left: 5%;
}

nav {
    list-style-type: none;
    overflow: hidden;
    background-color: #ce9a5a;
    width: 100%;
    margin: 0;
    padding-left: 0;
    width: 100%;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #b47b4d;
}

section {
    margin: 2%;
    padding: 2%;
    background-color: #c4a07e;
}

footer {
    margin-top: 2%;
    padding: 2%;
    background-color: #ce9a5a;
}

.comment p {
    font-style: italic;
}

.comment {
    border-bottom: 1px solid #202A25;
}

.error {
    color: red;
    font-size: xx-large;
}

.login {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 20%;
    margin-top: 10%;
    margin-right: 20%;
    background-color: #d3ab85;
    text-align: center;
    border-color: #202A25;
    border-width: 0.1em;
    border-style: solid;
    border-radius: 1em;
}

.list_item {
    border-style: solid;
    margin: 2rem;
    border-radius: 0.5rem;
    background-color: #FFFFFF;
    transition: background-color 0.5s ease-out;
}

.list_item img {
    margin-left: 1rem;
}

.list_item p {
    margin-right: 1rem;
}

.list_item:hover {
    background-color: #c5844f;
}

.list_item a {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project_summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    width: 50%;
    margin-left: 25%;
    margin-top: 1rem;
}

.project_summary div header {
    font-size: 2rem;
    font-weight: 700;
}

.project_summary div p {
    text-align: center;
}

.project_evaluation p {
    font-size: 1.5rem;
}

a:visited {
    color: #000000;
}

a {
    color: #000000;
}